<meta charset="utf-8">
<title>@@title | Cooking Circle Admin Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Tailwind Admin Dashboard, A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
<meta name="description" content="Download a Tailwind admin template, designed to create responsive and customizable admin dashboards quickly and efficiently. Ideal for developers and startups. ">
<meta name="description" content="Explore a Tailwind admin dashboard template that offers sleek, responsive designs and easy customization, perfect for managing admin interfaces with modern UI components.">
<meta name="description" content="Explore a Tailwind admin dashboard template with sleek, responsive designs and easy customization. Perfect for managing modern admin interfaces with top-notch UI components.">
<meta content="MyraStudio" name="author">

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">